    <section class="about-company">
    <p class="about-us-text">Domeo работает с 2010 года. </p>
    <p class="about-us-text">За это время мы создали бизнес-структуру, которая работает как дорогие швейцарские часы.</p>
    <p class="about-us-text">Секрет нашего успеха в самых лучших условиях и высокой зарплате для мастеров, в честности и прозрачности с людьми.</p>
    <p class="about-us-text">Мы ценим мастеров с большим опытом, а также создаём все условия для качественной работы.</p>
    </section>
