    <a class='reset-link about-us-video-link' href="https://www.youtube.com/">
    <div class="link-components-wrapper">
    <img class="clock-icon" src="./images/about-us/icons/clock.svg" alt="clock">
    <p class="about-us-text text-emphasize text-bold">Узнайте больше о компании Domeo за 1 минуту</p>
    </div>   
    <picture>
    <source srcset="./images/about-us/pictures/video-desktop.webp 1x, ./images/about-us/pictures/video-desktop2x.webp 2x, ./images/about-us/pictures/video-desktop3x.webp 3x" media="(min-width: 1920px)" type="image/webp"/>
    <source srcset="./images/about-us/pictures/video.webp 1x, ./images/about-us/pictures/video2x.webp 2x, ./images/about-us/pictures/video3x.webp 3x" type="image/webp" />
    <source srcset="./images/about-us/pictures/video-desktop.jpg 1x, ./images/about-us/pictures/video-desktop2x.jpg 2x, ./images/about-us/pictures/video-desktop3x.jpg 3x" media="(min-width: 1920px)" type="image/jpeg" />
    <source srcset="./images/about-us/pictures/video.jpg 1x, ./images/about-us/pictures/video2x.jpg 2x, ./images/about-us/pictures/video3x.jpg 3x" type="image/jpeg" />
    <img class="link-picture"  src="./images/about-us/pictures/video.jpg" alt="screenshot of video">    
    </picture>     
    </a>
