    <form class="contact-form" action="thank_you.html">
        <div class="input-wrapper">
            <label class="input-label" for="user-name">Введите Ваше имя</label>
            <input class="input" type="text" name="user-name" id="user-name" placeholder="Например, Алексей" required>
        </div>
        <div class="input-wrapper">
            <label class="input-label" for="user-phone">Введите Ваш телефон</label>
            <input class="input" type="tel" name="user-phone" id = "user-phone" placeholder="+7 (___)___-__-__" required>
        </div>
            <div class="form-bottom-elements-wrapper">
        <div class="button-wrapper">
            <button type="submit" class="button form-button"><p class="button-text form-button-text">Получить постоянную работу</p></button>
            <!-- <a class="reset-link button form-button" href="thank_you.html">
                <p class="button-text form-button-text">Получить постоянную работу</p>
            </a> -->
            </div>
            <p class="personal-data-remark">Нажимая на кнопку, вы даёте согласие на обработку персональных данных и соглашаетесь c
            <a class="privacy-policy-link text-emphasize" href="index.html">политикой конфиденциальности</a>            </div>
            </p> 
        </div>
        </form>
