   <div class="backdrop is-hidden" data-modalOne data-modal1-close>
      <div class="container">

      <div class="modal-window experience-modal-window">
        <include src="./partials/components/qwiz-form-heading.html"></include>
        <form action="#" class="experience-form">
                    <h3 class="title experience-form-title">Сколько лет опыта?</h3>
        <p class="experience-form-text">в выбранной ранее специализации</p>
        <ul class="reset-list experience-list">
            <li class="experience"><input type="radio" id="radio1" name="exerience" value="До 1 года" class="experience-selector" ><label for="radio1" class="experience-selector-label">До 1 года</label></li>
            <li class="experience"><input type="radio" id="radio2" name="exerience" value="От 2 до 3 лет" class="experience-selector" ><label for="radio2" class="experience-selector-label">От 2 до 3 лет</label></li>
            <li class="experience"><input type="radio" id="radio3" name="exerience" value="От 3 лет и более" class="experience-selector" ><label for="radio3" class="experience-selector-label">От 3 лет и более</label></li>
        </ul>
        <div class="button-wrapper">
        <button type='button' class="button qwiz-return-button" data-modal1-close><p class="button-text">Назад</p></button>
        <button type='submit' class="button qwiz-main-button" data-modal2-open><p class="button-text">Далее</p></button>
        </div>  
      </form>

        </div>
        </div>
                </div>

