    <ul class="reset-list prof-list">
        <li class="profession">Специалист по отделке</li>
        <li class="profession">Специалист по стяжке</li>
        <li class="profession">Специалист-универсал</li>
        <li class="profession">Мастер по ГКЛ</li>
        <li class="profession">Сантехник</li>
        <li class="profession">Маляр</li>
        <li class="profession">Электрик</li>
        <li class="profession">Каменщик </li>
        <li class="profession">Плиточник</li>
        <li class="profession">Штукатур</li>
        <li class="profession">Плотник</li>
        <li class="profession">И другие</li>
    </ul>
