<section class="about-us">
    <div class="about-us-underlay">
</div>

<div class='container about-us-container'>
    <h2 class="title about-us-title" >Мы не обманем вас с зарплатой и другими договоренностями</h2>
    <p class="about-us-opening-text">мы не хотим портить свою репутацию и "экологичность" компании</p>
    <div class="about-us-flex-wrapper">
    <include src="./partials/components/about-domeo-link.html"></include>
    <div class="main-text-wrapper">
        <include src="./partials/components/about-domeo-main-text.html"></include>
    <p class="call text-bold">Присоединяйтесь к нам
         прямо сейчас!</p>
    </div>
    </div>
    <div class="about-us-button-block">
    <button class="button" type="button">Присоединиться к Domeo</button>
    <p class="about-us-closing-text text-bold">Мы ищем людей на постоянную работу. Нам нужны мастера для сотрудничества на долгие годы.</p>
    </div>

    <ul class="reset-list certificates">
        <li class="certificate">
            <picture>
            <source srcset="./images/about-us/pictures/cert_1_w1920.webp 1x, ./images/about-us/pictures/cert_1_w1920_2x.webp 2x, ./images/about-us/pictures/cert_1_w1920_3x.webp 3x" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_1.webp 1x, ./images/about-us/pictures/cert_1_2x.webp 2x, ./images/about-us/pictures/cert_1_3x.webp 3x" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_1_w1920.jpg 1x, ./images/about-us/pictures/cert_1_w1920_2x.jpg 2x, ./images/about-us/pictures/cert_1_w1920_3x.jpg 3x" media="(min-width: 1920px)" type="image/jpeg" />
            <source srcset="./images/about-us/pictures/cert_1.jpg 1x, ./images/about-us/pictures/cert_1_2x.jpg 2x, ./images/about-us/pictures/cert_1_3x.jpg 3x" type="image/jpeg" />
            <img src='./images/about-us/pictures/cert_1.jpg' alt="certificate one">
            </picture>
        </li>
        <li class="certificate">
            <picture>
            <source srcset="./images/about-us/pictures/cert_2_w1920.webp 1x, ./images/about-us/pictures/cert_2_w1920_2x.webp 2x, ./images/about-us/pictures/cert_2_w1920_3x.webp 3x" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_2.webp 1x, ./images/about-us/pictures/cert_2_2x.webp 2x, ./images/about-us/pictures/cert_2_3x.webp 3x" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_2_w1920.jpg 1x, ./images/about-us/pictures/cert_2_w1920_2x.jpg 2x, ./images/about-us/pictures/cert_2_w1920_3x.jpg 3x" media="(min-width: 1920px)" type="image/jpeg" />
            <source srcset="./images/about-us/pictures/cert_2.jpg 1x, ./images/about-us/pictures/cert_2_2x.jpg 2x, ./images/about-us/pictures/cert_2_3x.jpg 3x" type="image/jpeg" />
            <img src='./images/about-us/pictures/cert_2.jpg' alt="certificate two">
            </picture>
            </li>
        <li class="certificate">
            <picture>
            <source srcset="./images/about-us/pictures/cert_3_w1920.webp 1x, ./images/about-us/pictures/cert_3_w1920_2x.webp 2x, ./images/about-us/pictures/cert_3_w1920_3x.webp 3x" media="(min-width: 1920px)" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_3.webp 1x, ./images/about-us/pictures/cert_3_2x.webp 2x, ./images/about-us/pictures/cert_3_3x.webp 3x" type="image/webp" />
            <source srcset="./images/about-us/pictures/cert_3_w1920.jpg 1x, ./images/about-us/pictures/cert_3_w1920_2x.jpg 2x, ./images/about-us/pictures/cert_3_w1920_3x.jpg 3x" media="(min-width: 1920px)" type="image/jpeg" />
            <source srcset="./images/about-us/pictures/cert_3.jpg 1x, ./images/about-us/pictures/cert_3_2x.jpg 2x, ./images/about-us/pictures/cert_3_3x.jpg 3x" type="image/jpeg" />
            <img src='./images/about-us/pictures/cert_3.jpg' alt="certificate three">
            </picture>
            </li>
    </ul>
</div>
</section>
