<section class="company-details">
    <div class="container company-details-container">
    <div class="company-details-components-wrapper">
    <h2 class="title company-details-title">Вы всегда можете прийти к нам <span class="text-emphasize">в офис для личного
         знакомства</span></h2>
    <p class="company-details-text">мы с радостью вас встретим и обсудим условия работы</p>
    <div class="company-details-form-box qwiz-form">
    <h3 class="title form-intro-title">Заполните форму!</h3>
    <p class="text-bold form-intro-text">Запишитесь на прием в офисе!</p>
    <include src="./partials/components/contact-form.html"></include>
    </div>
    <picture>
    <source srcset="./images/company_details/map_w1920.webp 1x, ./images/company_details/map_w1920_2x.webp 2x, ./images/company_details/map_w1920_3x.webp 3x" media="(min-width: 1920px)" type="image/webp"/>
    <source srcset="./images/company_details/map.webp 1x, ./images/company_details/map_2x.webp 2x, ./images/company_details/map_3x.webp 3x" type="image/webp"/>
    <source srcset="./images/company_details/map_w1920.jpg 1x, ./images/company_details/map_w1920_2x.jpg 2x, ./images/company_details/map_w1920_3x.jpg 3x" media="(min-width: 1920px)" type="image/jpeg"/>
    <source srcset="./images/company_details/map.jpg 1x, ./images/company_details/map_2x.jpg 2x, ./images/company_details/map_3x.jpg 3x" type="image/webp"/>
    <img class="map" src="./images/company_details/map.jpg" alt="city map with company location">
    </picture>
    <div class="company-data-wrapper">
    <address class="address reset-address">
        <ul class="reset-list company-data">
            <li class="company-data-item">
                <p class="indent-name text-emphasize">Адрес офиса:</p>
                <a class='reset-link data-item-text text-bold' href="">г. Москва, ул. Лужнецкая наб. 2/4 стр. 17, офис 308</a>
            </li>
            <li class="company-data-item">
                <p class="indent-name text-emphasize">Контактный телефон:</p>
                <a class='reset-link data-item-text text-bold' href="tel:+74956629523">8 (495) 126-24-89</a>
            </li>
            <li class="company-data-item">
                <p class="indent-name text-emphasize">Электронная почта:</p>
                <a class="reset-link data-item-text text-bold" href="mailto:info@domeo.ru">info@domeo.ru</a>
            </li>
        </ul>
    </address>
            <p class="company-data-item indent-name text-emphasize">График работы:</p>
            <p class="data-item-text text-bold">С 9.00 до 22.00 без выходных</p>
        </div>
    </div>
    </div>
</section>