<section class="conditions">
<div class='container conditions-container'>
        <div class="conditions-overlay"></div>
    <h2 class="title conditions-title">Даем <span class="text-emphasize">лучшие условия труда</span>  для работы в Москве</h2>
    <p class="conditions-common-text">компенсируем высокие требования от мастеров лучшими условиями</p>
    <ol class="conditions-list">
        <li class="condition">Возможность работать вахтовым методом</li>
        <li class="condition">Компенсируем затраты на проезд и гсм к удаленным объектам</li>
        <li class="condition">Погрузку-разгрузку выполняют только подрядчики, а не мастера</li>
        <li class="condition">Сертификация и квалификации от производителей Knauf, Tikkurila, Rehau и др.</li>
        <li class="condition">Карьерный рост до: бригадира, прораба, начальника участка и так далее</li>
        <li class="condition">Прямой контакт с руководством компании для решения любых финансовых вопросов </li>
        <li class="condition">Внедрение инновационных материалов и технологий для облегчения труда</li>
        <li class="condition">Корпоративная
             спец. одежда</li>
        <li class="condition">Объекты подбираются ближе к вашему месту жительства</li>
        <li class="condition">100% загрузка работой без простоев</li>
    </ol>
        <div class="attention conditions-attention">
            <img src="./images/service_marks/warning.svg" alt="Logo" class="attention-warning-mark">    
            <p class="attention-text conditions-attention-text">
                Мы понимаем, что хорошие мастера хотят получать большую зарплату и уважительное отношение к себе и своему труду, поэтому мы делаем <span class="text-bold">огромные усилия для комфортных условий работы в нашей компании</span>
            </p>
        </div>
</div>
</section>
