<section class="getJob-steps">
<div class='container getJob-steps-container'>
<h2 class="title getJob-title">Устройтесь на работу вашей мечты за <span class="text-emphasize">4 шага</span></h2>
<p class="getJob-common-text">самое главное начать, ведь места ограничены</p>
<Ol class="reset-list steps-list">
    <li class="step">
        <div class="step-body">
        <p class="step-body-text">Отправьте любую заявку на сайте</p>
        <svg class="step-body-icon"><use href="./images/get_job_steps_icons/sprite.svg#notepad"></use> </svg>
    </div>
</li>
    <li class="step">
       <div class="step-body">
        <p class="step-body-text">Собеседование 
            по телефону</p>
        <svg class="step-body-icon"><use href="./images/get_job_steps_icons/sprite.svg#phone"></use> </svg>
    </div>
    </li>
    <li class="step">
    <div class="step-body">
        <p class="step-body-text">Собеседование в
             офисе</p>
        <svg class="step-body-icon"><use href="./images/get_job_steps_icons/sprite.svg#collaborate"></use> </svg>
    </div>
    </li>
    <li class="step">
    <div class="step-body">
        <p class="step-body-text">Приступаете
             к работе</p>
        <svg class="step-body-icon"><use href="./images/get_job_steps_icons/sprite.svg#thumbs-up"></use> </svg>
    </div>
    </li>
</Ol>
    <div class="getJob-form-intro">
        <h3 class="title form-intro-title">Сделайте первый шаг!</h3>
        <p class="form-intro-text">Мы перезвоним вам и
             назначим собеседование</p>
        <include src="./partials/components/contact-form.html"></include>
    </div>
</div>


</div>
</section>
