<section class='hero'>
    <div class="container hero-container">
        <div class="overlay">
                </div>
    <h1 class='hero-title'> <span>Ищем мастеров по ремонту квартир на </span> 
        <span class="text-emphasize"> постоянную работу в компанию DOMEO </span></h1>
        <p class="hero-text">Официальное трудоустройство без московской прописки, с зарплатой <span class="text-bold"> от 100 000₽ для мастеров со своим инструментом и опытом от 3-х лет</span></p>

        <ul class="advantages">
            <li class="advantage advantage-one">Зарплата без задержек 2 раза в месяц</li>
            <li class="advantage advantage-two">Полный соц. пакет и возможность
оформить кредит и ипотеку</li>
            <li class=" advantage advantage-three">Официальное трудоустройство </li>
            <li class="advantage advantage-four">Работайте в своем темпе без простоя в заказах</li>
        </ul>

        <b class="motivation">Узнайте прямо сейчас все актуальные вакансии<span class="text-regular"> с белой зарплатой от 100 000₽</span></b>
        <a class="reset-link button hero-button" href="thank_you.html"><p class='button-text hero-button-text'>Узнать все актуальные вакансии</p></a>
    </div>
        </section>
