<section class="job-types">
<div class='container'>
<h2 class="title job-types-title">Ваша работа может состоять из:</h2>
<p class="job-types-text">все зависит от вашей профессии и навыков</p>
<ul class="reset-list jobs-list">
    <li class="job">
    <div class="job-component-box job-image-box">
        <picture>
            <source srcset="./images/job_types/Job_image1.webp 1x, ./images/job_types/Job_image1_2x.webp 2x, ./images/job_types/Job_image1_3x.webp 3x" type="image/webp" />
            <source srcset="./images/job_types/Job_image1.jpg 1x, ./images/job_types/Job_image1_2x.jpg 2x, ./images/job_types/Job_image1_3x.jpg 3x" type="image/jpeg" />
            <img class="job-image" src="./images/job_types/Job_image1.jpg" alt="interior flat decoration" />
        </picture>
    </div>
    <div class="job-component-box job-description-box">
<p class="job-description">Внутренняя отделка квартир</p>
    </div>
</li>
    <li class="job">
    <div class="job-component-box job-image-box">
        <picture>
            <source srcset="./images/job_types/Job_image2.webp 1x, ./images/job_types/Job_image2_2x.webp 2x, ./images/job_types/Job_image2_3x.webp 3x" type="image/webp" />
            <source srcset="./images/job_types/Job_image2.jpg 1x, ./images/job_types/Job_image2_2x.jpg 2x, ./images/job_types/Job_image2_3x.jpg 3x" type="image/jpeg" />
            <img class="job-image" src="./images/job_types/Job_image2.jpg" alt="finishing and rough works" />
        </picture>
    </div>
    <div class="job-component-box job-description-box">
    <p class="job-description">Чистовые и черновые работы</p>
    </div>
</li>
    <li class="job">
    <div class="job-component-box job-image-box">
        <picture>
            <source srcset="./images/job_types/Job_image3.webp 1x, ./images/job_types/Job_image3_2x.webp 2x, ./images/job_types/Job_image3_3x.webp 3x" type="image/webp" />
            <source srcset="./images/job_types/Job_image3.jpg 1x, ./images/job_types/Job_image3_2x.jpg 2x, ./images/job_types/Job_image3_3x.jpg 3x" type="image/jpeg" />
            <img class="job-image" src="./images/job_types/Job_image3.jpg" alt="painting and tile works" />
        </picture>
    </div>
    <div class="job-component-box job-description-box">
    <p class="job-description">Малярные и плиточные работы</p>
    </div>
</li>
    <li class="job">
    <div class="job-component-box job-image-box">
        <picture>
            <source srcset="./images/job_types/Job_image4.webp 1x, ./images/job_types/Job_image4_2x.webp 2x, ./images/job_types/Job_image4_3x.webp 3x" type="image/webp" />
            <source srcset="./images/job_types/Job_image4.jpg 1x, ./images/job_types/Job_image4_2x.jpg 2x, ./images/job_types/Job_image4_3x.jpg 3x" type="image/jpeg" />
            <img class="job-image" src="./images/job_types/Job_image4.jpg" alt="electricity installation and plumbing works" />
        </picture>
    </div>
    <div class="job-component-box job-description-box">
    <p class="job-description">Электромонтажные и сантехнические работы</p>
    </div>
</li>
</ul>
<div class="attention job-types-attention">
<img src="./images/service_marks/warning.svg" alt="Logo" class="attention-warning-mark">    
<p class="attention-text job-types-attention-text">Чем больше работы вы делаете, тем больше мы платим вам,<span class="text-bold"> без ограничений в зарплате</span></p>
</div>
</div>
</section>
