<section class="online-questions">
<div class='container online-questions-container'>
    <h2 class="title online-questions-title"><span class="text-emphasize">Запишитесь прямо сейчас</span> на онлайн собеседование</h2>
    <p class="online-questions-text">мы перезвоним вам с уточняющими вопросами в течении 30 минут после заявки</p>
<div class='online-questions-components-wrapper'>
    <ul class="reset-list online-questions-list">
    <h3 class="title online-questions-list-title">Во время собеседования мы у вас спросим:</h3>
    <li class="online-question">Во время собеседования мы у вас спросим:</li>
    <li class="online-question">Какую работу в ремонте квартир вы можете выполнять качественно?</li>
    <li class="online-question">Есть ли у вас инструмент и опыт работы в ремонтах квартир?</li>
    <li class="online-question">Какую зарплату вы хотите получать?</li>
    <li class="online-question">И еще пару вопросов</li>
</ul>
<div class="online-questions-form-wrapper">
    <div class="online-questions-form-box qwiz-form">
    <h3 class="title form-intro-title">Заполните форму!</h3>
    <p class="text-bold form-intro-text">Запишитесь на онлайн собеседование!</p>
    <include src="./partials/components/contact-form.html"></include>
    <p class="attention online-questions-attention text-bold">Если вас устроят все условия работы,
         вы можете выйти на объект уже на следующий день</p>
</div>
</div>
</div>
</div>
</section>
