<section class="qwiz qwiz-start" id="qwiz-start">
        <div class="qwiz-start-underlay">
</div>

<div class='container qwiz-start-container'>
          <include src="./partials/components/qwiz-form-heading.html"></include>

    <form class="qwiz-form profession-select-form" action="qwiz2.html">
        <h3 class="title qwiz-form-title profession-select-title">Какая у вас специализация?</h3>
        <p class="qwiz-form-text">можно выбрать несколько</p>
           <ul class="reset-list prof-list">
            <!-- select-profession-checkbox select-profession-label-->
        <li class="profession"><input type="checkbox" name="professions" id="select-profession1" value="Специалист по отделке" class="qwiz-option-selector"><label for="select-profession1" class="qwiz-option-label">Специалист по отделке</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession2" value= "Специалист по стяжке" class="qwiz-option-selector"><label for="select-profession2" class="qwiz-option-label">Специалист по стяжке</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession3" value="Специалист-универсал" class="qwiz-option-selector"><label for="select-profession3" class="qwiz-option-label">Специалист-универсал</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession4" value="Мастер по ГКЛ" class="qwiz-option-selector"><label for="select-profession4" class="qwiz-option-label">Мастер по ГКЛ</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession5" value="Cантехник" class="qwiz-option-selector"><label for="select-profession5" class="qwiz-option-label">Cантехник</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession6" value="Маляр" class="qwiz-option-selector"><label for="select-profession6" class="qwiz-option-label">Маляр</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession7" value="Электрик" class="qwiz-option-selector"><label for="select-profession7" class="qwiz-option-label">Электрик</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession8" value="Каменщик" class="qwiz-option-selector"><label for="select-profession8" class="qwiz-option-label">Каменщик</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession9" value="Плиточник" class="qwiz-option-selector"><label for="select-profession9" class="qwiz-option-label">Плиточник</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession10" value="Штукатур" class="qwiz-option-selector"><label for="select-profession10" class="qwiz-option-label">Штукатур</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession11" value="Плотник" class="qwiz-option-selector"><label for="select-profession11" class="qwiz-option-label">Плотник</label></li>
        <li class="profession"><input type="checkbox" name="professions" id="select-profession12" value="И другие" class="qwiz-option-selector"><label for="select-profession12" class="qwiz-option-label">И другие</label></li>
    </ul>  
     <include src="./partials/components/qwiz-navigation.html"></include>
 
    <!-- <a class="reset-link button qwiz-main-button" href="qwiz2.html">
        <p class="button-text">Далее</p> -->
    </a>    
    </form>
</div>
</section> 
