<section class="vacancies">
<div class='container vacancies-container'>
    <h2 class='title jobs-title text-emphasize'>В компанию требуются:</h2>
    <include src="./partials/components/professions-list.html"></include>

    <div class="attention vacancies-attention">
        <img src="./images/service_marks/warning.svg" alt="Logo" class="attention-warning-mark">    
    <p class="attention-text vacancies-attention-text">Для работы в нашей компании вам необходимо иметь собственный инструмент и опыт работы от 3х лет  </p>
    </div>
    <div class="vacancies-form-intro">
        <h3 class="title form-intro-title">Заполните форму прямо сейчас!</h3>
        <p class="form-intro-text">И получите постоянную
             работу с достойной зарплатой</p>
        <include src="./partials/components/contact-form.html"></include>
    </div>

</div>
</section>
