.button {
    padding-left:30px;
    padding-right:30px;
    height: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--green-color);
    border-radius: 100px;
    border:0;
    transition: background-color 500ms linear, border-color 500ms linear;
    &:hover{
        background-color: var(--green-accent-color);
    }
}
@media screen and(max-width:319px){
.button {
    padding-left: calc(30/320*100vw);
    padding-right: calc(30/320*100vw);
    height: calc(70/320*100vw);
    border-radius: calc(100/320*100vw);
    }
}