.footer-container{
    padding-top: 40px;
    padding-bottom:40px;
    background-color: var(--light-grey-color);
}

@media screen and (min-width:1920px){
.footer-remark {
        margin-right: 648px;
    }
}
